@use 'settings';
@use 'generic';

.c-nav {
	background: settings.$color-light;
	padding: 2rem 0;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	transition: all 0.2s ease-in-out;

	&__list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		margin-bottom: 0;

		@include generic.media-breakpoint-down(lg) {
			transform: translateX(18rem);
			transition: transform 0.5s ease;
			position: fixed;
			top: 0;
			right: 0;
			width: 18rem;
			height: 100vh;
			background-color: rgba(settings.$color-dark-rgb, 0.75);
			flex-direction: column;
			justify-content: flex-start;
			padding: 6rem 0 0;
			text-align: center;
		}
	}

	&__item {
		margin-left: 2.5rem;

		&:first-child {
			margin-left: 0;
		}

		@include media-breakpoint-down(lg) {
			margin: 1rem 0;

			&--active .c-nav__link {
				color: settings.$color-accent;
			}
		}
	}

	&__link {
		color: settings.$color-dark;
		font-weight: settings.$fw-bold;

		@include media-breakpoint-down(lg) {
			color: settings.$color-white;
		}

		&:hover {
			color: settings.$color-accent;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		align-items: flex-end;
	}

	&__toggle {
		display: none;
		width: 2rem;
		height: 1.5rem;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		opacity: 0;
		z-index: 2;

		@include media-breakpoint-down(lg) {
			display: block;
		}

		&:checked ~ .c-nav__bar--top {
			transform: rotate(45deg);
		}

		&:checked ~ .c-nav__bar--mid {
			opacity: 0;
		}

		&:checked ~ .c-nav__bar--bottom {
			transform: rotate(-45deg) translate(-4px, 5px);
		}

		&:checked ~ .c-nav__linecontainer .c-nav__list {
			transform: none;
		}
	}

	&__bar {
		display: none;
		width: 2rem;
		height: 0.2rem;
		margin-bottom: 0.3rem;
		position: relative;
		background-color: settings.$color-accent;
		border-radius: 0.2rem;
		z-index: 1;
		transition: transform 0.5s ease, opacity 0.2s ease;

		@include media-breakpoint-down(lg) {
			display: block;
		}

		&--top {
			transform-origin: 0;
		}

		&--bottom {
			transform-origin: 0 100%;
		}
	}

	&--active {
		box-shadow: 0 1px 5px rgba(settings.$color-dark-rgb, 0.25);
		padding: 0.5rem 0;
	}

	&__linecontainer {
		position: relative;
	}

	&__line {
		width: 1.375rem;
		height: 0.15rem;
		background-color: settings.$color-accent;
		position: absolute;
		bottom: 0;
		left: 0;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}
