@use 'settings';

.c-toggle {
    cursor: pointer;

    &__checkbox {
        display: none;
    
        &:checked + .c-toggle__switch {
            background-color: settings.$color-accent;
    
            &::after {
                left: 1.25rem;
            }
        }
    }

    &__switch {
        width: 2.5rem;
        height: 1.5rem;
        border-radius: 1rem;
        background-color: settings.$color-base--light;
        display: inline-block;
        position: relative;
        transition: background-color 0.3s;
        vertical-align: middle;
        margin-left: 0.3rem;

        &::after {
            content: "";
            background-color: settings.$color-light;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;
            transition: all 0.3s;
        }
    }
}